body {
    text-align: center;
    background-color: #1c3bd1;
    font-family:'Courier New', Courier, monospace;
}

.title {
    font-size: 4.4rem;
    color: rgb(0, 0, 0);
    margin: 100px 50px;
}

.subtitle {
    font-size: 1.5rem;
    color:rgb(214, 200, 200);
    font-weight: bold;
    margin: 0 50px;
}
h2 {
    color: rgb(151, 52, 52);
    font-size: 30px;
    margin-top: 3rem;
}

.label {
    color: rgb(199, 169, 34);
    font-weight: bolder;
    font-size: 1.3rem;
}

.cookieBox {
    height: 50px;
    width: 350px;
    margin: 1.5rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
}

.buttonRandomAdd {
    margin-top: 100px;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    background-color: rgba(129, 10, 240, 0.336);
    color: rgb(241, 214, 214);
    cursor: pointer;
    align-items: center;
}

.buttonRandomAdd:hover{
    color: rgb(0, 4, 59);
    font-weight: bold;
}


.buttonCookieAdd {
    margin-top: 100px;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    background-color: rgba(131, 14, 14, 0.74);
    color: white;
    cursor: pointer;
    align-items: center;
}

.buttonCookieAdd:hover{
    color: rgb(0, 4, 59);
    font-weight: bold;
}

.buttonClearInput {
    margin-top: 100px;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    background-color: rgba(209, 39, 195, 0.699);
    color: rgb(241, 214, 214);
    cursor: pointer;
    align-items: center;
}

.buttonClearInput:hover{
    color: rgb(0, 4, 59);
    font-weight: bold;
}

 @media screen and (max-width: 414px) {
    .title {
        margin-top: 80px;
        font-size: 4rem;
    }

    .label {
        font-size: 1.5rem;
    }

    .cookieBox {
        margin: 0.5rem;
        font-size: 1.2rem;
        max-width: max-content;
    }

    p {
        color:rgb(255, 253, 253);
    }

    h2 {
        font-size: 1.2rem;
    }

    .buttonCookieAdd {
        max-width: max-content;
        align-items: center;
        margin-bottom: 100px;
    }
    
}