/* box-sing limite la hauteur de de body à 100% */
* {
    -moz-box-sizing: border-box; box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #1c3bd1;
    font-family:'Courier New', Courier, monospace;
}

#page {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 5rem;
    color: rgb(0, 0, 0);
    word-wrap:break-word;
}

.subtitle {
    font-size: 1.5rem;
    color:rgb(214, 200, 200);
    font-weight: bold;
    margin: 0 50px;
    white-space: break-spaces;
}

#content {
    /* Flex-grow sur la div content indique que tout l'espace doit etre occupe. Cela permet de pousser le footer en bas de page */
    flex-grow: 1;
}

h2 {
    color: rgb(151, 52, 52);
    font-size: 30px;
    margin-top: 3rem;
}

.label {
    color: rgb(199, 169, 34);
    font-weight: bolder;
    font-size: 1.3rem;
}

.cookieBox {
    height: 50px;
    width: 350px;
    margin: 1.5rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
}

/* BOUTON ALÉATOIRE */
.buttonRandomAdd {
    margin: 50px 0;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    background-color: rgba(129, 10, 240, 0.336);
    color: rgb(241, 214, 214);
    cursor: pointer;
    align-items: center;
}

.buttonRandomAdd:hover{
    color: rgb(0, 4, 59);
    font-weight: bold;
}

/* BOUTON ADDITION */
.buttonCookieAdd {
    margin: 50px 0;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    background-color: rgba(131, 14, 14, 0.74);
    color: white;
    cursor: pointer;
    align-items: center;
}

.buttonCookieAdd:hover{
    color: rgb(0, 4, 59);
    font-weight: bold;
}

/* BOUTON SOUSTRACTION */
.buttonCookieSoust {
    margin: 50px 0;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    background-color: rgba(208, 211, 186, 0.822);
    color: white;
    cursor: pointer;
    align-items: center;
}

.buttonCookieSoust:hover{
    color: rgb(0, 4, 59);
    font-weight: bold;
}

/* BOUTON MULTIPLICATION */
.buttonCookieMult {
    margin: 50px 0;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    background-color: rgba(22, 153, 114, 0.822);
    color: white;
    cursor: pointer;
    align-items: center;
}

.buttonCookieMult:hover{
    color: rgb(0, 4, 59);
    font-weight: bold;
}

/* BOUTON DIVISION */
.buttonCookieDiv {
    margin: 50px 0;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    background-color: rgba(221, 67, 20, 0.822);
    color: white;
    cursor: pointer;
    align-items: center;
}

.buttonCookieDiv:hover{
    color: rgb(0, 4, 59);
    font-weight: bold;
}

/* BOUTON NETTOYAGE DES INPUTS */
.buttonClearInput {
    margin: 50px 0;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    background-color: rgba(209, 39, 195, 0.699);
    color: rgb(241, 214, 214);
    cursor: pointer;
    align-items: center;
}

.buttonClearInput:hover{
    color: rgb(0, 4, 59);
    font-weight: bold;
}

#footer {
    left: 0;
    right: 0;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 50px;
    
}

/* RESPONSIVE */
 @media screen and (min-width: 320px) and (max-width: 480px) {
    .title {
        margin-top: 80px;
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.4rem;
    }

    .label {
        font-size: 1.2rem;
    }

    .cookieBox {
        margin: 0.5rem;
        font-size: 1rem;
        max-width: max-content;
    }
    
    .buttonRandomAdd {
        font-size: 1rem;
    }

    .buttonCookieAdd {
        font-size: 1rem;
    }

    .buttonCookieSoust {
        font-size: 1rem;
    }

    .buttonCookieMult {
        font-size: 1rem;
    }

    .buttonCookieDiv {
        font-size: 1rem;
    }

    .buttonClearInput {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    #footer {
        font-size: 2rem;
    }

}